/*
   Import partials below
*/
@import "normalize";

.main__screen {
  background-image: url("../img/ap-ui.png");

  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.header__wrap {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  .header {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    height: 60px;
    align-items: center;

    .logo {
      // height: 100px;
      // width: 100px;
      flex-basis: 185px;
      padding-left: 20px;
      box-sizing: border-box;

      a {
        display: block;
        width: 100%;
      }

      img {
        height: 100%;
      }
    }

    .menu {
      display: flex;
      flex-basis: 640px;
      justify-content: space-between;

      &__item {
        a {
          font-size: 20px;
          font-family: "Sansation";
          color: rgb(255, 255, 255);
          text-decoration: none;
          transition: all 0.2s linear;

          &:hover {
            color: #167284;
          }
        }
      }
    }

    .social {
      display: flex;
      flex-basis: 175px;
      justify-content: center;

      &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 27px;
        height: 27px;
        border: 1px solid #ffff;
        border-radius: 50%;
        margin-right: 10px;
        cursor: pointer;
        transition: all 0.2s linear;

        &:hover {
          border: 1px solid #167284;
        }

        &:last-of-type {
          margin-right: 0px;
        }
      }
    }
  }
}

.slider {
  display: flex;
  justify-content: center;
  padding-top: 128px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    height: 34px;
    width: 30px;
    background-image: url("../img/left-arrow.png");
    background-position: center center;
    background-repeat: no-repeat;
    left: 50px;
    top: 220px;
    // transform: translate(58px);
    cursor: pointer;
  }

  &:after {
    content: "";
    position: absolute;
    height: 34px;
    width: 30px;
    right: 50px;
    background-image: url("../img/left-arrow.png");
    background-position: center center;
    background-repeat: no-repeat;
    top: 220px;
    transform: rotate(180deg);
    cursor: pointer;
  }

  &__content {
    width: 540px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    padding-top: 47px;
    justify-content: center;
    position: relative;
  }

  &__text {
    font-size: 48px;
    font-family: "Sansation";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
  }

  &__description {
    font-size: 16px;
    font-family: "Sansation";
    color: rgba(255, 255, 255, 0.702);
    margin-bottom: 40px;
    text-align: center;
    width: 340px;
    margin: 0 auto;
    margin-bottom: 50px;
    line-height: 1.5;
  }

  &__btn {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 112px;
    border: 2px solid rgba(255, 255, 255, 0.702);
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: all 0.2s linear;
    font-size: 14px;
    font-family: "Sansation";
    text-transform: uppercase;
    // margin: 0 auto;
    bottom: -20px;
    right: 50%;
    transform: translate(58px);

    &--text {
      margin: 0px;
    }

    &:hover {
      color: #167284;
      border: 2px solid #167284;
    }
  }
}

.screen-2 {
  width: 100%;
  background-color: gainsboro;

  &__wrap {
    display: flex;
    // max-width: 1000px;
    // margin: 0 auto;
  }

  &__content {
    width: 50%;
    padding: 40px;
    background-color: #fff;

    .title {
      font-size: 24px;
      font-family: "Sansation";
      color: rgb(37, 37, 37);
      text-transform: uppercase;
      position: relative;

      &:after {
        content: "";
        height: 1px;
        background-color: black;
        bottom: -7px;
        width: 100%;
        position: absolute;
      }
    }

    .text {
      font-size: 14.22px;
      font-family: "Myriad Pro";
      color: rgb(0, 0, 0);
      line-height: 1.447;
    }

    .read-more__btn {
      border-radius: 2px;
      background-color: rgb(5, 160, 175);
      width: 161px;
      height: 24px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 50px;

      a {
        font-size: 10px;
        font-family: "NEOTERIC";
        color: rgb(247, 247, 247);
        text-transform: uppercase;
        margin-top: 0px;
        margin-bottom: 0px;
        display: block;
        text-decoration: none;
      }
    }
  }

  &__img {
    width: 50%;

    img {
      width: 100%;
      display: block;
    }
  }
}
