/*
   Import partials below
*/
@import "normalize";

.main__screen {
  background-image: url("../img/ap-ui.png");

  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.header__wrap {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  .header {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    height: 60px;
    align-items: center;

    .logo {
      // height: 100px;
      // width: 100px;
      flex-basis: 185px;
      padding-left: 20px;
      box-sizing: border-box;

      a {
        display: block;
        width: 100%;
      }

      img {
        height: 100%;
      }
    }

    .menu {
      display: flex;
      flex-basis: 640px;
      justify-content: space-between;

      &__item {
        a {
          font-size: 20px;
          font-family: "Sansation";
          color: rgb(255, 255, 255);
          text-decoration: none;
          transition: all 0.2s linear;

          &:hover {
            color: #167284;
          }
        }
      }
    }

    .social {
      display: flex;
      flex-basis: 175px;
      justify-content: center;

      &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 27px;
        height: 27px;
        border: 1px solid #ffff;
        border-radius: 50%;
        margin-right: 10px;
        cursor: pointer;
        transition: all 0.2s linear;

        &:hover {
          border: 1px solid #167284;
        }

        &:last-of-type {
          margin-right: 0px;
        }
      }
    }
  }
}

.slider {
  display: flex;
  justify-content: center;
  padding-top: 128px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    height: 34px;
    width: 30px;
    background-image: url("../img/left-arrow.png");
    background-position: center center;
    background-repeat: no-repeat;
    left: 50px;
    top: 220px;
    // transform: translate(58px);
    cursor: pointer;
  }

  &:after {
    content: "";
    position: absolute;
    height: 34px;
    width: 30px;
    right: 50px;
    background-image: url("../img/left-arrow.png");
    background-position: center center;
    background-repeat: no-repeat;
    top: 220px;
    transform: rotate(180deg);
    cursor: pointer;
  }

  &__content {
    width: 540px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    padding-top: 47px;
    justify-content: center;
    position: relative;
  }

  &__text {
    font-size: 48px;
    font-family: "Sansation";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
  }

  &__description {
    font-size: 16px;
    font-family: "Sansation";
    color: rgba(255, 255, 255, 0.702);
    margin-bottom: 40px;
    text-align: center;
    width: 340px;
    margin: 0 auto;
    margin-bottom: 50px;
    line-height: 1.5;
  }

  &__btn {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 112px;
    border: 2px solid rgba(255, 255, 255, 0.702);
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: all 0.2s linear;
    font-size: 14px;
    font-family: "Sansation";
    text-transform: uppercase;
    // margin: 0 auto;
    bottom: -20px;
    right: 50%;
    transform: translate(58px);

    &--text {
      margin: 0px;
    }

    &:hover {
      color: #167284;
      border: 2px solid #167284;
    }
  }
}

.screen-2 {
  width: 100%;
  background-color: gainsboro;

  &__wrap {
    display: flex;
    // max-width: 1000px;
    // margin: 0 auto;
  }

  &__content {
    width: 50%;
    padding: 40px;
    background-color: #fff;
    box-sizing: border-box;

    .title {
      font-size: 24px;
      font-family: "Sansation";
      color: rgb(37, 37, 37);
      text-transform: uppercase;
      position: relative;

      &:after {
        content: "";
        height: 1px;
        background-color: black;
        bottom: -7px;
        width: 100%;
        position: absolute;
      }
    }

    .text {
      font-size: 14.22px;
      font-family: "Myriad Pro";
      color: rgb(0, 0, 0);
      line-height: 1.447;
    }

    .read-more__btn {
      border-radius: 2px;
      background-color: rgb(5, 160, 175);
      width: 161px;
      height: 24px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 50px;

      a {
        font-size: 10px;
        font-family: "NEOTERIC";
        color: rgb(247, 247, 247);
        text-transform: uppercase;
        margin-top: 0px;
        margin-bottom: 0px;
        display: block;
        text-decoration: none;
      }
    }
  }

  &__img {
    width: 50%;

    img {
      width: 100%;
      display: block;
    }
  }
}

.screen__title {
  background-color: rgb(55, 55, 55);

  &-text {
    font-size: 40px;
    font-family: "Sansation";
    color: rgb(247, 247, 247);
    text-transform: uppercase;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding-top: 45px;
    padding-bottom: 45px;

    &:before {
      content: url("../img/line-left.png");
      position: absolute;
      right: calc(50% + 150px);
    }

    &:after {
      content: url("../img/line-right.png");
      position: absolute;
      left: calc(50% + 150px);
    }

    &--dark {
      color: #656464;
      position: relative;

      &:before {
        content: url("../img/clients-line-left.png");
        position: absolute;
        right: calc(50% + 150px);
      }

      &:after {
        content: url("../img/clients-line-right.png");
        position: absolute;
        left: calc(50% + 150px);
      }
    }
  }

  &--white {
    background-color: #fefefe;
  }
}

.screen-3 {
  .service__block {
    display: flex;

    .service__item {
      padding: 0 10px;
      flex: 1 1 auto;
      background-color: #3d3d3d;
      justify-content: center;
      height: 556px;
      display: flex;
      flex-direction: column;
      transition: all 0.2s linear;

      &:hover {
        background-color: #097e89;
      }

      &-img {
        margin-bottom: 50px;

        img {
          max-width: 100%;
          margin: 0 auto;
          display: block;
        }

        // display: block;
      }

      &-title {
        p {
          text-align: center;
          font-size: 24px;
          font-family: "Sansation";
          color: rgb(247, 247, 247);
          font-weight: bold;
          text-transform: uppercase;
          margin-bottom: 8px;
        }
      }

      &-description {
        p {
          font-size: 14px;
          font-family: "Sansation";
          color: rgb(247, 247, 247);
          line-height: 1.286;
          text-align: center;
          margin-top: 0;
          margin-bottom: 30px;
        }
      }

      &-btn {
        a {
          border-radius: 2px;
          background-color: rgb(149, 149, 149);
          border: unset;
          width: 141px;
          padding-top: 6px;
          padding-bottom: 6px;
          text-transform: uppercase;
          font-size: 12px;
          font-family: "Sansation";
          color: rgb(247, 247, 247);
          line-height: 1.5;
          text-align: center;
          margin: 0 auto;
          display: block;
          text-decoration: none;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.screen-4 {
  .feedback__block {
    background-color: #3d3d3d;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;

    .feedback__controls {
      width: 34%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .text {
        margin-bottom: 40px;

        p {
          margin: 0 auto;
          font-size: 18px;
          font-family: "Sansation";
          color: rgb(205, 200, 200);
          line-height: 1.444;
          text-align: center;
          width: 70%;
        }
      }
    }

    .count {
      text-align: center;
      font-size: 14px;
      font-family: "Sansation";
      color: rgb(205, 200, 200);
      width: 70%;
      margin: 0 auto;
      position: relative;

      span {
        &:after {
          content: url("../img/feedback-right-arrow.png");
          position: absolute;
          top: -5px;
          right: 0px;
        }

        &:before {
          content: url("../img/feedback-left-arrow.png");
          position: absolute;
          left: 0px;
          top: -5px;
        }
      }
    }
  }

  .review__block {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;

    .person {
      max-width: 202px;
      position: relative;

      .person__img {
        max-width: 202px;

        img {
          width: 100%;
          display: block;
        }
      }

      .info__wrap {
        display: flex;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 8px;
        box-sizing: border-box;
        justify-content: space-between;

        .date {
          background-color: rgb(255, 255, 255);
          // position: absolute;
          width: 43px;
          height: 33px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          font-family: "Sansation";
          color: rgb(39, 39, 39);
        }

        .person__info {
          height: 33px;
          width: 135px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          // align-items: center;
          background-color: rgb(255, 255, 255);
          font-size: 12px;
          font-family: "Sansation";
          color: rgb(39, 39, 39);
          padding-left: 10px;
          box-sizing: border-box;
        }
      }
    }
  }
}

.screen-5 {
  background-color: #fbfbfb;
  padding-bottom: 100px;

  .screen-5__wrap {
    .partners {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      background-color: #ffffff;

      .partner__item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 25%;
        height: 150px;

        img {
          display: block;
          max-width: 100%;
        }
      }
    }
  }
}

.form {
  &__wrap {
    background-color: #097e89;
    display: flex;
  }

  &__text {
    flex: 1 1 35%;
    padding-left: 40px;
    height: 150px;

    h2 {
      font-size: 37.368px;
      font-family: "Sansation";
      color: rgb(255, 255, 255);
    }

    p {
      font-size: 15px;
      font-family: "Sansation";
      color: rgba(255, 255, 255, 0.702);
      line-height: 1.739;
    }
  }

  .form__block {
    flex: 1 1 65%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
